#topbar{
  border-bottom:1px solid var(--border);
  padding:10px 12px;
  background:var(--bg);
}

#mainGrid{
  height: calc(100vh - 53px);
  display:grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 1fr 140px;
}

#leftPanel{
  grid-column:1;
  grid-row:1 / span 2;
  border-right:1px solid var(--border);
  display:flex;
  flex-direction:column;
  background:var(--panel);
}

#mapArea{
  grid-column:2;
  grid-row:1;
  position:relative;
  border-bottom:1px solid var(--border);
  background:var(--bg);
}

#bottomTray{
  grid-column:2;
  grid-row:2;
  background:var(--panel);
}

